# Dependencies
node_modules

# Build
dist

# Environment
.env
.env.*
!.env.example

# Firebase
.firebase
seed/serviceAccountKey.json

# Testing
coverage

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
